Package: com.conorthedev.customizemydock
Name: customizemydock
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Customize your dock!
Maintainer: ConorTheDev
Author: ConorTheDev
Section: Tweaks
