Package: com.conorthedev.customizemydock
Name: customizemydock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ConorTheDev
Author: ConorTheDev
Section: Tweaks
Version: 0.0.1-23+debug
Installed-Size: 220
